body{
  margin: 0;
  line-height: 145%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-stretch: normal;
}

/* link in dem Textbox */
a {
  color: #057010;
  text-decoration: underline;
}

/* link-hover */
a.hover{
  text-decoration: none;
}

/* Menü Kopf mit grauen Hintergrund */
#menu_header {
  margin: 0px;
  height: 80px;
  position: fixed;
  top:0px;
  width:100%;
  border-bottom: thin solid lightgray;
  background: -webkit-linear-gradient(top bottom, #CCCBCC , white);
  background: -moz-linear-gradient(top bottom, #CCCBCC, white); 
  background: linear-gradient(to bottom, #CCCBCC , white); 
}

/* Logo Bild oben */
#logo{
  float: left;
         background-image:url(../img/world_data_logo_v1.png);
         display:block;
         height:80px;
         width:150px;
         white-space:nowrap;
         overflow: hidden;
         text-indent:100%;
         background-repeat:no-repeat;
  margin-right: 50px;
  margin-left: 5px;
}

/* Logo Bild unten --grau-- */
#logo:hover{
         background-position:0px -80px;
}

/* links in Navigationsbar*/
a.header_link{
  height: 100%;
  color: #878687;

}

a.header_link:hover{
}

/* Textboxen in dem Navibar */
.header_element{
  float: left;
  height: 80px;
  text-align: :left;
  vertical-align: middle;
  padding: 40px 50px 40px; /*top, left-right, bottom,*/
  margin:0px;
  border-left: thin solid lightgray;
    -moz-transition: background 0.7s;
  -webkit-transition: background 0.7s;

}

/* Textboxen in dem Navibar mit grauen Hintergrund für Hover */
.header_element:hover{
      background: lightgray;
}

/* Überschrift */
h1.main_caption{
margin: 105px 9px 30px;
  font-size: 35px;
  font-weight: normal;

}

/* grünes Textbox oben mit Schatten */
section.green_boxed_text_section{
  margin-left: 5px;
  margin-right: 5px;
  background-color: #F8F8F8;
  border: thin solid #057010;
  box-shadow: 3px 5px 2px lightgrey;
  padding: 10px 8px 10px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
}

/* grüne links in dem Textbox */
.green_boxed_text_section a{
  color: #057010;
  text-decoration: underline;
}

/* grüne links in dem Textbox nach dem Hovern */
.green_boxed_text_section a:hover{
  color: #057010;
  text-decoration: none;
}

/* die Buttons zum verschtecken/einbinden der Inhalte in der Tabelle */
button.hide_column_button{
  border: none;
  background-color: white;
  color: darkgray;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1px;
  padding-right: 1px;
  text-decoration: underline;
}

/* die Buttons zum verschtecken/einbinden der Inhalte in der Tabelle nach dem Hovern */
button.hide_column_button:hover{
  text-decoration: none;
}

/* die Position der Tabelle */
div.data_table_container{
    margin: 20px 5px 20px;
}

/* Show/Hide Text neben den Buttons */
div.show_hide_buttons{
  /*float: left;*/
  color: darkgray;
  font-weight: bold;
  font-size: 12px;
}

/* Größe der Tabelle*/
table.data_table{
  width: 100%;
  margin-top: 10px;
}

/* Tabellenkopf */
table.data_table thead{
  text-align: left;
  background: white;
  border-bottom: medium solid lightgray;
}

/* Style der Inhalt der Tabelle */
table.data_table tbody:before{
  line-height:1em; 
  content:"\200C"; /* Leerzeichen über der ersten Element der Tabelle */ 
  display:block;
}

/* Untertitel der Seite: allgemeines Design */
#group_footer{
  width: 99%;
  border-top: medium solid #057010;
  padding: 10px 0px 0px;
  margin: 0px 5px 5px;
}

/* Untertitel der Seite: linker Text */
.footer_left_container{
  float: left;
  text-align: left;
}


/* Untertitel der Seite: rechter Text */
.footer_right_container{
  text-align: right;
}

/* Pfeile nach oben/unten Button */
button.sort_button{
  border: none;
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1px;
  padding-right: 1px;
  text-decoration: underline;
}

/* Pfeile nach oben/unten Button mot Hover */
button.sort_button:hover{
  color: darkgray;
}

/* Tabellenüberschriften: Countries .... */
#data_table_col_7{
    visibility: collapse;
}

#data_table_col_6{
    visibility: collapse;
}

#data_table_col_5{
    visibility: collapse;
}

/*
  Responsive Design
*/
@media screen and (max-width: 320px){
  
  section.green_boxed_text_section{
   -webkit-column-count: 1;
   -moz-column-count: 1;
  }
  
}

@media screen and (min-width: 768px){
  
  section.green_boxed_text_section{
   -webkit-column-count: 2;
   -moz-column-count: 2;
  }
  
  #data_table_col_5{
    visibility: visible;
  }
  
  #data_table_col_6{
    visibility: visible;
  }
}

@media screen and (min-width: 1200px){
 
  section.green_boxed_text_section{
   -webkit-column-count: 3;
   -moz-column-count: 3;
  }
  
  #data_table_col_7{
    visibility: visible;
  }
  
  #data_table_col_6{
    visibility: visible;
  }
  
  #data_table_col_5{
    visibility: visible;
  }
}